

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(53, 85, 88);
    justify-content: flex-start;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    text-align: center; 
    padding: 10px 0; 
}

.logo {
    max-width: 250px;
    max-height: 250px; 
    margin-top: -60px;
}

.cart-logo {
    max-width: 150px;
    max-height: 150px; 
    margin-top: -20px;
    padding-left: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
    padding-bottom: 40px;
}

.menu h2 {
    margin: 0; 
    font-size: 14px; 
    padding: 5px 10px; 
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}
.menu h2:hover {
    color: rgb(53, 85, 88) ;
    background-color: whitesmoke; 
    border-radius: 5px; 
}
.menu button {
    padding: 5px 10px;
    font-size: 12px; 
    background-color: rgb(207, 179, 107); 
    border: none; 
    border-radius: 10px;
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.menu button:hover {
    background-color: darkgoldenrod; 
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.image-container div {
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px; 
    padding-top: 20px;
}

.image-container img {

    object-fit: cover; 
    border-radius: 10px;
}
.image-wrapper {
    text-align: center;
    transition: transform 0.3s ease; 
}

.image-wrapper:hover {
    transform: scale(1.1); 
}

.image-wrapper img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.image-wrapper:hover img {
    transform: scale(1.1); 
    
}

#img1, #img2, #img3, #img4{
    height: 140px;
    width: 300px;
}

.quote {
    margin: 5px 0;
    font-size: 10px;
    line-height: 1.4;
    color: white; 
    border-radius: 5px;
}
.author {
    margin: 5px 0;
    font-size: 8px;
    line-height: 1.4;
    color: white; 
    border-radius: 5px;
    padding-bottom: 100px;
    
}
#italic-text {
    font-style: italic;
}
.content {
    flex: 1;
}
.top-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 70px;
}
.books-section {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 80px;
    max-width: 1200px; 
    
}

.book {
    display: flex; 
    align-items: center;
    box-sizing: border-box;
    text-align: left; 
    border-radius: 10px;
    background-color: rgb(236, 240, 241)
    
}

.book img {
    max-width: 100%;
    border-radius: 10px;
    width: 70px;  
    height: 100px; 
    margin-right: 10px; 
    
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book p {
    margin: 5px 0;
    font-size: 9px; 
    color: black; 
}

.book a {
    font-size: 7px; 
    color: rgb(53, 85, 88);
    text-decoration: none;
    transition: color 0.3s;
}

.book a:hover {
    color: darkgoldenrod;
}

.book:hover{
    transform: scale(1.1); 
}
.iconlist {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0;
}

.iconlist li {
    margin: 0 70px; 
}

.iconlist i {
    font-size: 1em; 
    color: white; 
}
footer {
    background-color: #355558;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* genre webpage*/

#genre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
}

#genre p {
    background-color: #355558;
    border: 1px solid #cfb36b;
    border-radius: 5px;
    padding: 10px;
    margin: 0; 
    box-sizing: border-box;
    text-align: center; 
    transition: background-color 0.3s ease;
    font-size: 10px;
    color: white;
  }
  #genre button {
    display: block;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #f0d694;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#genre button:hover {
    background-color: goldenrod
}

/* Cart Webpage */

#menu1 {
    margin-left: 50px;
    display: flex;
    gap: 70px;
}

#items-number {
    margin-left: 50px;
}

.cart-section {
    margin-left: 50px;
    max-width: 600px;
    margin: 5px
    padding: 20px;
    text-align: left;
    display: inline-block;
}
.cart-item {
    display: flex
    margin-bottom: 20px;
}
.cart-item img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
}
.cart-item-info {
    flex: 1;
}
.cart-item-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.cart-item-author {
    margin-bottom: 10px;
}

.buy-button {
    margin-left: 50px;
    display: inline-block; 
    width: auto;
    padding: 6px 12px;
    font-size: 12px;
    background-color: rgb(207, 179, 107);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}